@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --color-primary: #4D41C0;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    background-color: #E8e8e8;
}

a, a:hover{
  text-decoration: none;
  color: unset;
}

.dsmovie-card-img{
  width: 100% ;
  border-radius: 8px 8px 0px 0px;
}


.dsmovie-btn{
  background-color: var(--color-primary);
  width: 180px;
  font-size: 14px;
  height: 40px;
}