.dsmovie-card-container{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    padding-bottom: 20px;
}

.dsmovie-card-container h3{
    margin: 15px 5px 20px;
    font-size: 14px;
    color: #4a4a4a;
    font-weight: 700;
    text-align: center;
    height: 20px;
}




